.header{
    width: 100vw;
    padding: 0 1rem;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
    color: white;
    /* border: 3px solid black; */
}

.nav{
    display: flex;
    flex-basis: 90%;
    gap: 5rem;
    align-items: center;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.navLink{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 1.8rem;
    
}

.navLink:hover{
    background-color: lightseagreen;
}

.icons_container{
    display: flex;
    gap: 1rem;
    flex-basis: 23% ;
    align-items: center;
    color: white;
}

.icons_container img{
    cursor: pointer;
}

.cartIcon{
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
}

.cartIcon img{
    height: 100%;
    width: 100%;
}

.cartCount{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    background-color: yellow;
    color: black;
    font-size: .8rem;
    text-align: center;
    position: absolute;
    top: -.2rem;
    right: -.2rem;
}

